/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


