/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2016, 4:59:00 PM
    Author     : Muhammad Ayaz
*/
$brandcolor:red;
$radious:5px;
