/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2016, 4:43:20 PM
    Author     : muhammad ayaz
*/
@import "_constants.scss";
h1{color:$brandcolor;}
@mixin rounded($radious: 5px){
    -moz-border-radius: $radious;
    -webkit-border-radius: $radious;
    border-radius: $radious;
    
}
#box3{
    @include rounded;
    height:200px;
    width:200px;
    border: 1px solid;
    
}
